.block{
    width: 100%;
    border: 1px solid red;
    background-color: #343a4D;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.title {
    background-color: forestgreen;
    font-family:'Josefin Sans', sans-serif;
}


.project {
    border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 1130px){
    .project{
        justify-content: space-between;
    }
}