.block{
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid yellow;
}
.mainBlock{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid yellow;
}

.container{
    height: 30vh;
    width: 100%;
    background-color: #eae3da;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}